<div class="flickr">
  <ul>
    <% photos.each do |row| %>
      <li>
        <% row.each do |p| %>
          <% urls = get_photo_url(p)%>
          <%= link_to urls[:original] do %>      
            <%= image_tag urls[:thumb], :class => 'flickr_photo' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>	
</div>
